{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{{ product.title }}</h5>
        <div class="card-body">
            <p class="card-text">Категория: {{ product.category }}</p>
            <p class="card-text">Описание товара: {{ product.description }}</p>
            <p>
            {% if product.picture %}
                <img src="{{ product.picture.url }}" class="card-img-top" style="width: 150px" alt="...">
            {% else %}
                <img src="{% static 'car.jpg' %}" class="card-img-top" style="width: 150px" alt="...">
            {% endif %}
            <br>
            </p>
            <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}